<p class="ta-r">نام‌کاربری</p>
<nb-form-field>
    <nb-icon nbPrefix icon="at-outline" pack="eva"></nb-icon>
    <input type="text" fullWidth nbInput placeholder="">
</nb-form-field>
<p class="ta-r">کلمه عبور</p>
<nb-form-field>
    <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
    <input fullWidth [type]="getInputType()" nbInput>
    <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
            [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
        </nb-icon>
    </button>
</nb-form-field>
<p class="ta-r">تکرار کلمه عبور</p>
<nb-form-field>
    <nb-icon nbPrefix icon="lock-outline" pack="eva"></nb-icon>
    <input fullWidth [type]="getInputType()" nbInput>
    <button nbSuffix nbButton ghost (click)="toggleShowPassword()">
        <nb-icon [icon]="showPassword ? 'eye-outline' : 'eye-off-2-outline'" pack="eva"
            [attr.aria-label]="showPassword ? 'hide password' : 'show password'">
        </nb-icon>
    </button>
</nb-form-field>